<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Javascript - PlaceList</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%-include('nav.ejs') %>
    <div id="map"></div>
  </body>
  <!-- <script src="./js/nav.js"></script> -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
    rel="stylesheet"
  />
  <script src="./js/index.js" defer></script>
</html>
