<nav>
  <div class="logo"><a href="/">PlaceList</a></div>
  <div class="menu">
    <% if (!currentUser) {%>
    <a href="/login">Login</a>
    <a href="/register">Register</a>

    <% }else{%>
    <a href="/list">List</a>
    <a href="/create">Post Place</a>
    <form action="/logout">
      <input type="submit" class="btn_logout" value="logout">
    </form>

    <%}%>

</nav>
