<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Placelist - Register Account</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <%-include('nav.ejs') %>
    <section class="section_register">
      <form class="form_register form_box" method="POST" action="/register">
        <h2>Register</h2>
        <input type="text" placeholder="UserName" name="username" required />
        <input
          type="password"
          placeholder="password"
          name="password"
          required
        />
        <input
          type="password"
          placeholder="password confirm"
          name="passwordConfirm"
          required
        />
        <input type="submit" class="btn_submit" value="Register" name="type" />
      </form>
    </section>
  </body>
  <script src="../js/formBtn.js"></script>
  <script src="../js/index.js"></script>
</html>
